.bannerTitle {
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.fontTitle {
    font-family: 'Cairo';
    font-size: 40px;
    color: #fa7901;
    text-shadow: 2px 2px white;
    vertical-align: middle;
}

.imgTitle {
    width: 25px;
}

.gameDetails{
    margin-top: 5px;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.btnLogout {    
    border: none;
    background-color: blue;
    border-radius: 3px;
    width: 80px;
    height: 30px;
    font-size: 15px;
    color: cornsilk;
    margin-left: 50px;
}

.screenMsg {
    font-family: Verdana, sans-serif;
    font-size: 40px;
    color: #ffffff;
}

.msgInfo {
    background-color: rgb(37, 153, 1);
}

.msgError {
    background-color: rgb(173, 4, 4);
}

#logoutSuccess, #okSalvo, #errorMessage,  #errorSalvo {
    display: none;
}

#gameStateBlock {
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    padding: 5px;
}

.gameStateLabel {
    color: gold;
}
