
#battleGrids {
    display: none;
}

.gridTopLabel {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

#shipsLeftIcons, #shipsLeftIconsOpp {
    margin-bottom: 8px;
}

  /* DivTable.com */

div.selfTable {
    border-top: 1px dashed #555555;
    border-left: 1px dashed #555555;
    background-image: url(../img/backshipplacement.gif);
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

div.oppTable {
    border-top: 1px dashed #d1e26e;
    border-left: 1px dashed #d1e26e;
    background-image: url(../img/backships.gif);
    background-size: cover;
    width: 400px;
    height: 400px;
    margin-left: auto;
}

.selfCell {
    border-right: 1px dashed #555555;
    border-bottom: 1px dashed #555555;
}

.oppCell {
    border-right: 1px dashed #d1e26e;
    border-bottom: 1px dashed #d1e26e;
}

.divTable {  
    display: table; 
}

.divTableRow { 
    display: table-row; 
}

.divTableCell { 
    display: table-cell;
}

.divTableBody { 
    display: table-row-group;
}

/* posiciona tablero oponente y misiles */
.tableboardOpp {
    display: flex;
    flex-direction: row;
}

/* Ubicacion de flota en la grilla */

.carrierHorGrid {
    position: absolute;
    width: 200px;
    height: 40px;
}
  
.destroyerHorGrid {
    position: absolute;
    width: 160px;
    height: 40px;
}
  
.submarineHorGrid {
    position: absolute;
    width: 120px;
    height: 40px;
}
  
.battleshipHorGrid {
    position: absolute;
    width: 120px;
    height: 40px;
}
  
.patrolboatHorGrid {
    position: absolute;
    width: 80px;
    height: 40px;
}

.carrierVerGrid {
    position: absolute;
    width: 40px;
    height: 200px;
}
  
.destroyerVerGrid {
    position: absolute;
    width: 40px;
    height: 160px;
}
  
.submarineVerGrid {
    position: absolute;
    width: 40px;
    height: 120px;
}
  
.battleshipVerGrid {
    position: absolute;
    width: 40px;
    height: 120px;
}
  
.patrolboatVerGrid {
    position: absolute;
    width: 40px;
    height: 80px;
}
