/*
* Etiquetas html

.fondo-grid {
  border: 5px solid blue;
}
*/
body {
  background: url(../img/back2.jpg);
  font-family: 'Dosis', sans-serif;
}

.blockInline {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
}

.gridObjects {
  width: 500px;
  height: 460px;
  margin: 0 auto;
  background-size: contain;
  /* border: 5px solid green; */
}

.gridShips {
  background-image: url(../img/backships.gif);
}

.gridPlacement {
  background-image: url(../img/backshipplacement.gif);
}

.grid-stack-item-content {
  opacity: 0.9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.carrierHor {
  background-image: url(../img/carrierhor.png);
}

.carrierVer {
  background-image: url(../img/carrierver.png);
}

.submarineHor {
  background-image: url(../img/submarinehor.png);
}

.submarineVer {
  background-image: url(../img/submarinever.png);
}

.battleshipHor {
  background-image: url(../img/battleshiphor.png);
}

.battleshipVer {
  background-image: url(../img/battleshipver.png);
}

.destroyerHor {
  background-image: url(../img/destroyerhor.png);
}

.destroyerVer {
  background-image: url(../img/destroyerver.png);
}

.patrolboatHor {
  background-image: url(../img/patrolboathor.png);
}

.patrolboatVer {
  background-image: url(../img/patrolboatver.png);
}

/*
  Clases de rotacion
*/

.rotatebutton {
  background: none;
  border: none;
}

.rotateicon {
  width: 15px;
  height: 15px;
}

#errorMsg {
  display: none;
}

.textCenter {
  text-align: center;
}

/*
  Pantalla de posicionamiento inicial
*/
#positioningScreen {
  /* display: none; */
  background: #000000ad;
  width: 80%;
  margin: 15px auto;
  padding: 10px;
  border-radius: 1%;
}

.blockPositions {
  display: inline-block;
  color: aliceblue;
  vertical-align: top;
  margin-top: 10px;
}

.shipPositionLabel {
  color: goldenrod;
}

.dragNode {
  color: rgb(0, 255, 13);
}

.uppercase {
  text-transform: uppercase;
}