.salvoBlock {
    width: 100%;
    height: 60px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.salvoCharger {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#btnSubmitSalvos {
    width: 80px;
    height: 40px;
    margin-right: 10%;
}

.salvo {
    background-image: url(../img/misilrocket.gif);
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 10px auto;
}

.salvoGrid {
    background-image: url(../img/misilrocket.gif);
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.salvoSelected {
    background-color: goldenrod;
    border-radius: 5px;
}

.oppCellHover {
    background-image: url(../img/targetself.png);
    background-size: cover;
}
